<?xml version='1.0' encoding='utf-8'?>
<plugin id="apps.aarne.kyppo.pushNotificationService" version="0.0.1"
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <name>pushNotificationService</name>
  <description>Push notification plugin</description>
  <js-module name="pushNotificationService" src="www/pushNotificationService.js">
    <clobbers target="cordova.plugins.pushNotificationService" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="pushNotificationService">
        <param name="android-package" value="apps.aarne.kyppo.pushNotificationService.pushNotificationService" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
      </intent-filter>
    </config-file>
    <source-file src="src/android/pushNotificationService.java" target-dir="src/apps/aarne/kyppo/pushNotificationService/pushNotificationService" />
  </platform>
</plugin>
